body {
  background-color: hsl(0, 2%, 90%);
}
.container {
}
.reviews-container {
  font-family: 'League Spartan', sans-serif;
  margin: 50px;
  font-size: 13px;
  padding: 50px;
}
.daniel-review {
  background-color: hsl(263, 55%, 52%);
  color: white;
  border-radius: 10px;
}
.daniel-highlighted-quote,
.patrick-highlighted-quote,
.jonathan-highlighted-quote {
  font-weight: 500;
  font-size: 25px;
  line-height: normal;
}

.jeanette-highlighted-quote,
.kira-highlighted-quote {
  font-weight: 500;
  font-size: 25px;
  line-height: normal;
}
.daniel-verified-student,
.jeanette-verified-student,
.kira-verified-student,
.patrick-verified-student,
.jonathan-verified-student {
  opacity: 50%;
}

.image-daniel,
.image-patrick,
.image-jonathan,
.image-kira,
.image-jeanette {
  border-radius: 50px;
}

.daniel-quote,
.jonathan-quote,
.jeanette-quote,
.patrick-quote,
.kira-quote {
  opacity: 70%;
}
.jonathan-review {
  background-color: hsl(217, 19%, 35%);
  color: white;
  border-radius: 10px;
}
.jeanette-review {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.patrick-review {
  background-color: hsl(219, 29%, 14%);
  color: white;
  border-radius: 10px;
}

.kira-review {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 10px;
}
footer {
  text-align: center;
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
