.reviews-container {
  font-family: 'League Spartan', sans-serif;
  margin-top: 50px;
  font-size: 13px;
}
.daniel-review {
  background-color: hsl(263, 55%, 52%);
  color: white;
  border-radius: 7px;
}
.daniel-highlighted-quote {
  font-weight: 500;
  
  font-size: 15px;
}
footer {
  text-align: center;
}
