body {
  background-color: yellow;
}
.reviews-container {
  font-family: 'League Spartan', sans-serif;
  margin: 50px;
  font-size: 13px;
}
.daniel-review {
  background-color: hsl(263, 55%, 52%);
  color: white;
  border-radius: 7px;
}
.daniel-highlighted-quote {
  font-weight: 500;
  
  font-size: 15px;
}

.jonathan-review {
  background-color: hsl(217, 19%, 35%);
}
.jeanette-review {
  background-color: white;
}

.patrick-review {
  background-color: hsl(219, 29%, 14%);
  color: white;
}
footer {
  text-align: center;
}


//* @media (max-height: ) *//